tqdm>=4.66.5
ijson>=3.2.3
pydub>=0.25.1
loguru>=0.7.2
python-Levenshtein>=0.25.1
visualdl>=2.5.3
numpy>=1.19.1
yeaudio>=0.0.4
pyyaml>=6.0.1
paddleaudio>=1.0.2
future>=1.0.0
pyaudio>=0.2.11
zhconv>=1.4.3
flask>=3.0.2
flask-cors>=5.0.0