numpy~=1.21.2
scipy==1.6.1
tqdm==4.59.0
pytest-runner
librosa==0.8.0
python-Levenshtein==0.12.2
visualdl~=2.2.0
SoundFile~=0.10.3.post1
resampy==0.2.2
webrtcvad==2.0.10
python_speech_features==0.6
cn2an==0.5.11
zhconv==1.4.2
pyaudio~=0.2.11
flask~=1.1.2
flask-cors
lac